@import 'jeet'
@import 'rupture'

normalize-css()

// .red
//   background orange

html
  // @extend .red
  font-family 'Futura LT'
  background grey

#siteWrap
  center(1400px)
  background white
  padding 3em

a
  text-decoration none
  color blue

header
  center()
  position relative

  h3
    col(1/6)
    text-align center

    a
      padding 1em