@import 'jeet'
@import 'rupture'

normalize-css()

// .red
//   background orange

html
  // @extend .red
  font-family 'Helvetica Neue'
  background grey
  height 100%

body
  center(1200px)
  min-height 100%
  background white

#main
  padding: 0 3rem

a
  text-decoration none
  color blue

header
  center()
  padding 3rem 0
  position relative

  h3
    text-align center

footer
  background-color #ddd
  padding 3rem 1rem
  text-align center

img
  width 100%
  height auto

// B L O C K S

.block-container
  border 1px solid grey
  padding 1rem
  margin .5rem 0

.image-edit-container
  border 1px solid blue
  height 10rem
  width 10rem

.invisible
  height 0
  width 0
  padding 0
  margin 0
  border none
