<template name="hero">
  <img src='{{image}}' alt="#">
  <h3>{{header.text}}</h3>
  <p>{{header.caption}}</p>
  <p>{{caption.text}}</p>
  <hr>
</template>

<template name="blockText">
  {{#if quote}}
    <p class="block-quote">{{text}}</p>
  {{else}}
    <p>{{text}}</p>
  {{/if}}
  <hr>
</template>

<template name="list">
  {{#if orderedList}}
    <ol>
      {{#each content}}
        <li>{{ item }}</li>
        {{#if nestedItems}}
          <ol>
            {{#each nestedItems}}
                <li>{{this}}</li>
            {{/each}}
          </ol>
        {{/if}}
      {{/each}}
    </ol>
  {{else}}
    <ul>
      {{#each content}}
        <li>{{ item }}</li>
        {{#if nestedItems}}
          <ul>
            {{#each nestedItems}}
                <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
  <hr>
</template>

<template name="gallery">

  <hr>
</template>