<template name="hero">
  <div class='hero block-container'>
    {{#if isEditing}}
      <div class="image-edit-container"></div>
      <input type="text" placeholder='Enter Header Text'>
      <input type="text" placeholder='Enter Header Caption Text'>
      <input type="text" placeholder='Enter Caption Text'>
    {{else}}
      <img src='{{image}}' alt="#">
      <h3>{{header.text}}</h3>
      <p>{{header.caption}}</p>
      <p>{{caption.text}}</p>
    {{/if}}
  </div>
</template>

<template name="blockText">
  <div class="blockText block-container">
    {{#if isEditing}}
      <input type="textarea" placeholder='Enter body text here!'>
    {{else}}
      {{#if quote}}
        <p class="block-quote">{{text}}</p>
      {{else}}
        <p>{{text}}</p>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="list">
  <div class="list block-container">
    {{#if isEditing}}
      <input type="text" placeholder='Enter List Item'>
    {{else}}
      {{#if orderedList}}
        <ol>
          {{#each content}}
            <li>{{ item }}</li>
            {{#if nestedItems}}
              <ol>
                {{#each nestedItems}}
                    <li>{{this}}</li>
                {{/each}}
              </ol>
            {{/if}}
          {{/each}}
        </ol>
      {{else}}
        <ul>
          {{#each content}}
            <li>{{ item }}</li>
            {{#if nestedItems}}
              <ul>
                {{#each nestedItems}}
                    <li>{{this}}</li>
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="gallery">
  <div class="gallery block-container">
    {{#if isEditing}}
      <input type="text" placeholder='Enter gallery header'>
      <div class="gallery-items-edit">
        <div class="image-edit-container"></div>
        <input type="text" placeholder='Enter caption header'>
        <input type="text" placeholder='Enter caption'>
      </div>
    {{else}}
      <h3>{{header}}</h3>
      {{#each items}}
        <div class="gallery-item">
          <img src="{{image}}" alt="#">
          <h5>{{text.header}}</h5>
          <p>{{text.caption}}</p>
        </div>
      {{/each}}
    {{/if}}
  </div>
</template>